@import "tailwindcss";

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    background: var(--color-stone-950);
}

.grid {
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
}
