footer {
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 0.8rem;
    color: var(--text-footer);

    & a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
    }
}
