:root {
    /* Aurora */
    --nord-aurora-1: oklch(88% 0.2 165);
    --nord-aurora-2: oklch(65% 0.25 290);

    /* Darks */
    --nord-dark-1: oklch(25% 0.02 260);
    --nord-dark-2: oklch(20% 0.03 265);

    /* Lights  */
    --nord-light-1: oklch(98% 0.01 240);
    --nord-light-2: oklch(85% 0.02 240);

    /* Syntax Highlighting (High Contrast) */
    --syn-kwd: oklch(45% 0.15 260); /* Deep Blue */
    --syn-fn: oklch(50% 0.18 200); /* Teal */
    --syn-val: oklch(60% 0.18 310); /* Purple */
    --syn-str: oklch(55% 0.14 140); /* Green */

    /* Globals */
    --navigation-height: 4rem;
}

[data-theme="light"] {
    --bg-app: var(--nord-light-1);
    --text-main: var(--nord-dark-2);
    --text-sub: var(--nord-dark-1);
    --editor-bg: var(--nord-light-2);
}

[data-theme="dark"] {
    --bg-app: var(--nord-dark-2);
    --text-main: var(--nord-light-1);
    --text-sub: var(--nord-light-2);
    --editor-bg: var(--nord-dark-2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Inter", system-ui, sans-serif;

    overscroll-behavior: none;
    overflow: hidden;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--bg-app);
    color: var(--text-main);
    transition: color var(--transition-speed);
}

#app {
    display: contents;
}

main {
    display: flex;
    align-items: center;

    padding-top: var(--navigation-height);
    padding-bottom: 4rem;
    padding-inline: max(2rem, (100% - 1044px) / 2);
    height: 100%;
}

/* Smaller component styles */
.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-main);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-speed);
    color: var(--text-sub);

    &:hover {
        color: var(--text-main);
    }

    & svg {
        flex: 1 1 0;
    }
}
